# This repository uses an allowlist because not every corpus is necessarily suitable for GitHub hosting.
/*/
/*.workflow/Contents/QuickLook/
!bjmns.tumblr.com,2013
!marrus.xyz,2016
!langdev.xyz,2017
!Add Default BNS Metadata.workflow
